<main class="main-contenedor">
  <section class="pantalla">
    <div class="panel-layout">
      <!-- Sidebar -->
      <aside class="sidebar">
        <h5>Admin</h5>
        <a routerLink="/panel-admin-home" routerLinkActive="activo">Home</a>
        <a routerLink="/panel-admin-gestion/novedades" routerLinkActive="activo">Novedades</a>
        <a routerLink="/panel-admin-gestion/productos" routerLinkActive="activo">Productos</a>
        <a routerLink="/panel-admin-gestion/servicios" routerLinkActive="activo">Servicios</a>
        <a routerLink="/panel-admin-gestion/clientes" routerLinkActive="activo">Clientes</a>
        <a routerLink="/panel-admin-gestion/documentos" routerLinkActive="activo">Documentos</a>
      </aside>

      <!-- Contenido -->
      <section class="panel-contenido">
        <!-- Título dinámico -->
        <h2 class="titulo">
          {{ modoEdicion ? config?.tituloEditar : config?.tituloCrear }}
        </h2>

        <div class="form-card">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <!-- Campos dinámicos -->
            @for (campo of config?.campos; track campo.name) {
              <div class="form-group">
                <label>{{ campo.label }}</label>

                @if (campo.type === 'text') {
                  <input type="text" [formControlName]="campo.name" />
                }

                @if (campo.type === 'number') {
                  <input type="number" [formControlName]="campo.name" />
                }

                @if (campo.type === 'date') {
                  <input type="date" [formControlName]="campo.name" />
                }

                @if (campo.type === 'textarea') {
                  <textarea rows="4" [formControlName]="campo.name"></textarea>
                }

                @if (campo.type === 'file') {
                  @if (campo.type === 'file') {
                    <div class="file-wrapper">
                      <div class="file-box" (click)="fileInput.click()">Seleccionar imagen</div>

                      <input
                        #fileInput
                        type="file"
                        (change)="onFileChange($event, campo.name)"
                        style="display: none"
                      />

                      @if (nombreArchivo) {
                        <span class="file-name">
                          {{ nombreArchivo }}
                        </span>
                      }
                    </div>
                  }
                }

                <!-- error -->
                @if (form.get(campo.name)?.invalid && form.get(campo.name)?.touched) {
                  <small class="error-text">Campo obligatorio</small>
                }
              </div>
            }

            <!-- acciones -->
            <div class="form-actions">
              <button type="submit" class="nav-link" [disabled]="form.invalid">
                {{ modoEdicion ? 'Actualizar' : 'Guardar' }}
              </button>

              <button type="button" class="nav-link" [routerLink]="config?.rutaCancelar">
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </section>
    </div>
  </section>
</main>
