<main class="main-contenedor">

  <!-- ============================
       SERVICIOS
       ============================ -->
  <section id="servicios" class="pantalla contenedor-centrado texto-centrado">
    <h2 class="titulo">Servicios</h2>
    <p class="subtitulo">Consultoría, implementación y capacitación</p>

    <div class="servicios-lista">

      @for (servicio of servicios; track servicio.id) {
    <div class="servicio-item animar" [id]="servicio.id">
      <h4 class="servicio-titulo">{{ servicio.titulo }}</h4>
      <p class="servicio-descripcion">{{ servicio.descripcion }}</p>
    </div>
  }

    </div>
  </section>


  <!-- METODOLOGÍA -->
<section
  [id]="metodologia.id"
  class="pantalla contenedor-centrado texto-centrado"
>
  <h2 class="titulo">{{ metodologia.titulo }}</h2>

  <div class="metodologia-columnas">
    @for (paso of metodologia.pasos; track paso.titulo) {
      <div class="metodologia-card animar">
        <h4>{{ paso.titulo }}</h4>
        <p>{{ paso.descripcion }}</p>
      </div>
    }
  </div>

</section>

</main>
